# Boto3 is the Amazon Web Services (AWS) Software Development Kit (SDK)
# for Python.
# License: Apache2
# Use: For KMS
boto3==1.2.3

# The modular source code checker: pep8, pyflakes and co
# License: MIT
# Upstream url: http://bitbucket.org/tarek/flake8
flake8==2.3.0

# Measures code coverage and emits coverage reports
# Licence: BSD
# Upstream url: https://pypi.python.org/pypi/coverage
coverage==3.7.1

# tool to check your Python code against some of the style conventions
# License: Expat License
# Upstream url: https://github.com/jcrocholl/pep8.git
pep8==1.5.7

# nose makes testing easier
# License: GNU Library or Lesser General Public License (LGPL)
# Upstream url: http://readthedocs.org/docs/nose
nose==1.3.3

# Mocking and Patching Library for Testing
# License: BSD
# Upstream url: http://www.voidspace.org.uk/python/mock
mock==1.0.1
